<div class="container">
    <h1>RICK AND MORTY API</h1>
    <div class="characters">
      <div *ngFor="let character of characters" class="card">
        <img [src]="character.image" [alt]="character.name">
        <h2>{{ character.name }}</h2>
        <p><strong>Especie:</strong> {{ character.species }}</p>
        <p >
        <strong>Estado:</strong> <span [ngClass]="{'alive': character.status === 'Alive', 'dead' : character.status === 'Dead', 'unk' : character.status === 'unknown'}"> {{character.status }}</span>
        </p>
      </div>
    </div>
  </div>