@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container {
    text-align: center;
    font-size: 18px;
}

.characters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70px;
    font-family: "Kanit", serif;
}

.card {
    background-color: white;
    color: black;
    border-radius: 10px;
    margin: 30px;
    width: 260px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    perspective: 1000px;
    transform-style: preserve-3d;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: transform 0.3s ease;
}

.card:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 70px;
    color: white;
    font-family: "Kanit", serif;
}

.alive {
    color: green;
    font-weight: bold;
}

.dead {
    color: red;
    font-weight: bold;
}

.unk {
    color: gray;
    font-weight: bold;
}

.pagination {
    color: white;
    padding-top: 20px;
}

.pagination span {
    margin: 30px;
    font-family: "Kanit", serif;
}

button {
    font-family: "Kanit", serif;
    padding: 10px;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño */
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3); /* Sombras más profundas */
}

.card {
    transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

.card:hover {
    transform: scale(1.05) rotateY(5deg);
}


button:hover{
  transform: scale(1.15);
  transition: transform 0.2s;
}